.header {
    margin: 50px 0px;
    font-size: 35px;
}

.topic {
    margin: 50px 0px;
    font-size: 40px;
}

.text-area {
    margin-bottom: 30px;
}

.chart-container {
    height: 300px;
}